.card {
    font-size: 12px;
    width: 470px;
    height: 168px;     
    display: flex;          
}


.picture {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card-content {
    display: flex;
    
}

.location-pin {
    height: 9.55px;
    width: 7px;
}